<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.63412918521-3lagifdkq79qdjnbhitvf4cvpm6oh2m1</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>NSAppleMusicUsageDescription</key>
	<string>Resonance needs access to Apple Music to play songs and match you with others who share your music taste.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Resonance needs access to your photo library so you can choose a profile photo.</string>
</dict>
</plist>
